/* Basic styling for the form and result area */
#myForm {
    /* Add your desired styles here */
}

#result {
    /* Add your desired styles here */
}

.main_button {
    width: auto;
    height: 35px;
    font-size: 120%;
}

.total {
    position: fixed;
    top: 3.75%;
    right: 1%;
}

button {
    font-size: 15px;
    width: auto;
    height: 28px;
}

.upgrade_button_100 {
    position: fixed;
    top: auto%;
    right: auto%
}

.upgrade_button_1000 {
    position: fixed;
    top: auto%;
    right: auto%;
}
